.textarea {
    border: solid black 1px;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    resize: none;
    width: max(50%, 12em);
}